table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px;
    font-size: 16px;
}


.non{
    background-color: #d3d3d3;
    


}
/* Style the table header */
th {
    background-color: #03011d;
    border: 1px solid #bdbbbb;
    color: white;
    padding: 12px;
    font-weight: bold;
    /* border: 1px solid #b3b3b3; */

    text-align: center; 
    white-space: nowrap;

}
    /* border-bottom: 1px solid #fffefe; */
/* Style the table cells */
.bd-bt{
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

.bd-non{
 
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    /* border-top: 1px solid #ffffff; */


    
}
.br_tb{

    border-top: 1px solid #e2e2e2;
    padding: 4px;
    background-color: #01042e27;
}
.bl {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}


td{

    padding: 3px;
}
tr {
   

    white-space: nowrap;
}

/* Add some hover effect on table rows */
tr:hover {
    background-color: #e3ecfe;

    white-space: nowrap;
}

#back {
    text-decoration: none;
    background-color: #000000;
    color: #fff;
    margin: 10px 15px; 
    padding: 5px 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

#back:hover {
    background-color: #3f3f3f; /* สีน้ำเงินเข้มเมื่อ hover */
    
}


.move-button{

color:rgba(255, 153, 0, 0.931);
font-size: 20px;

}

@media only screen and (max-width: 600px) {
    table {
        font-size: 13px;
    }
    body{
        /* background-color: #e3e3dd; */
    margin: 0px ;



    }
  }